.DataTable table td,
.DataTable table th {
    vertical-align: middle;
    outline: none !important;
}

.DataTable table th label {
    display: block;
    margin-bottom: 0px;
    margin-top: 0.5rem;
}

.DataTable table tbody tr td[tabindex='7'],
.DataTable table thead tr th:nth-child(7) {
    width: 180px;
}

.DataTable table tbody tr td:not(:first-child) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.DataTable table tbody tr td button {
    color: #fff;
    background-image: none;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 0;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin-right: 5px !important;
}

.DataTable table tbody tr td button.padding {
    padding: 0.1875rem 0.375rem;
}

.DataTable table tbody tr td button a {
    display: block;
    padding: 0.1875rem 0.375rem;
}

.DataTable table tbody tr td button,
.DataTable table tbody tr td a:nth-child(2) {
    margin-left: 10px;
}

.DataTable > div > div > div > div > div:nth-child(3) > div > div:nth-child(2) {
    display: flex !important;
    justify-content: flex-end;
    align-items: center;
}

.DataTable > div > div > div > div > div:nth-child(3) > div > div:nth-child(2) ul {
    margin: 0;
}

.DataTable {
    margin-bottom: 20px;
    overflow-x: auto;
}

.DataTable > div > table {
    min-width: 1000px;
}

.DataTable.width > div > table {
    min-width: 100%;
}

.DataTable.big > div > table {
    min-width: 1400px;
}

.DataTable > div:nth-child(1) > div,
.DataTable > div:nth-child(3) > div {
    display: flex;
    align-items: center;
}

.DataTable > div:nth-child(1) > div input,
.DataTable > div:nth-child(1) > div label,
.DataTable > div:nth-child(1) > div button,
.DataTable > div:nth-child(3) > div p {
    margin: 0;
}

.DataTable > div:nth-child(1) > div:nth-child(2) button {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    transform: none !important;
}

.DataTable > div:nth-child(1) > div:nth-child(2) input {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.DataTable > div:nth-child(1) > div:nth-child(2),
.DataTable > div:nth-child(3) > div:nth-child(2) {
    justify-content: flex-end;
}

.DataTable > div:nth-child(3) {
    margin-top: 2rem;
}

@media (max-width: 575px) {
    .DataTable > div:nth-child(1) > div:nth-child(2),
    .DataTable > div:nth-child(3) > div:nth-child(2) {
        justify-content: flex-start;
        margin-top: 2rem;
    }
}

.DataTable > div,
.DataTable > div > table {
    min-width: 1000px;
    width: 100%;
}

.DataTable.width > div,
.DataTable.width > div > table {
    min-width: 100%;
    width: 100%;
}

.DataTable.big > div,
.DataTable.big > div > table {
    min-width: 1400px;
    width: 100%;
}

.DataTable table tbody tr.customClass {
    background: linear-gradient(0deg, #3358f4 0%, #1d8cf8 100%);
}

.DataTable table tbody tr.customClass:hover {
    background: rgba(0, 0, 0, 0.075);
    color: #fff;
}

.DataTable > div > div:nth-child(3) {
    margin-bottom: 50px;
}

.SPAN {
    display: block;
}

.checkbox {
    color: #fff;
    position: relative;
    margin: 0;
    height: 19px !important;
    width: 20px !important;
}

.checkbox label {
    position: relative;
    padding-left: 30px;
    margin: 0;
    font-size: 13px;
    cursor: pointer;
    display: flex;
    align-items: center;
    pointer-events: none;
}

.checkbox label:before {
    font-size: 17px;
    position: absolute;
    left: 0;
    top: 0;
    padding-left: 2px;
    border-radius: 3px;
    border: 2px solid rgba(2555, 255, 255, 0.1);
    content: '';
    height: 20px;
    width: 20px;
}

.checkbox label:after {
    font-size: 17px;
    position: absolute;
    left: 0;
    top: -2px;
    padding-left: 2px;
    border-radius: 3px;
    font-weight: 900;
    font-family: 'Font Awesome 5 Free';
    content: '\f00c';
    max-width: 0;
    overflow: hidden;
    opacity: 0.5;
    transition: all 0.35s ease;
    color: #4f9ae6;
}

.checkbox input {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0 !important;
    height: 19px !important;
    cursor: pointer;
}

.checkbox input:checked + label:after {
    max-width: 25px;
    opacity: 1;
}

.checkbox input:checked + label:before {
    border: 2px solid #4f9ae6;
}

.DataTable button:hover {
    transform: none !important;
    cursor: pointer;
}

.DataTable input[type='checkbox'] {
    margin: 0 !important;
}

.Categories {
    max-height: 50px;
    overflow-y: auto;
}

.Role table {
    min-width: 1000px;
    height: 100%;
}

.DataTable > .Spans,
.DataTable > .Spans > .table,
.DataTable > .Spans ~ div {
    min-width: 1000px;
}

.DataTable > .Spans.Products,
.DataTable > .Spans.Products > .table,
.DataTable > .Spans.Products ~ div {
    min-width: 1000px;
}

.Spans.Products tbody tr td,
.Spans.Products thead tr th {
    width: 100px !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.Spans.Products tbody tr td:last-child,
.Spans.Products thead tr th:last-child {
    width: 200px !important;
}

.Spans tbody tr td:nth-child(4) > div {
    display: flex;
    flex-wrap: wrap;
    height: 36px;
    max-width: 300px;
    overflow-y: auto;
    align-items: center;
}

.Spans tbody tr td:nth-child(4) > div > span {
    padding: 5px 10px;
    border: 1px solid #fff;
    border-radius: 10px;
    margin: 0 10px 10px 0;
}

.Confirmed {
    padding: 5px 20px;
    border-radius: 10px;
    margin: 0 10px 10px 0;
    background-color: #90ee90;
    color: #222;
}

.NotConfirmed {
    padding: 5px 20px;
    border-radius: 10px;
    margin: 0 10px 10px 0;
    background-color: #d92e28;
    color: #ddd;
}

.mw-100 {
    max-width: 100% !important;
    min-width: 100% !important;
}

.DataTable > div.mw-100 > table,
.DataTable.mw-100 > div:nth-child(3) {
    max-width: 100% !important;
    min-width: 100% !important;
}

.page-item .page-link {
    color: #111;
}

.DataTable td > .alert {
    padding: 2px 1px;
    font-size: 10px;
    border: 1px solid #d92e28;
    word-wrap: break-word;
    margin-top: 2px;
}
