.googleButton {
  border-width: 0;
  background: white;
  color: #737373 !important;
  border-radius: 5px;
  box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.05);
  transition-property: background-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  padding: 10px;
}

.googleButton:hover,
.googleButton:focus {
  box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1);
}

.googleButton:active {
  background-color: #e5e5e5;
  box-shadow: none;
  transition-duration: 10ms;
}

.googleIcon {
  display: inline-block;
  margin: 8px 0 8px 8px;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}

.googleText {
  display: inline-block;
  padding: 0 24px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Roboto', arial, sans-serif;
}

.img {
  min-height: 172px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
