.carousel-wrapper {
  max-height: 600px !important;
  border-radius: 0.2857rem;
}

.carousel .slide img {
  width: 100%;
  vertical-align: top;
  border: 0;
  max-height: 600px;
}

.carousel.carousel-slider {
  border-radius: 0.2857rem;
}
